<div class="row content">
<%= form_with model: [:admin, @club] do |form| %>
  <%= form.label :name, "Name:", class: "form-label" %>
  <%= form.text_field :name, class: "form-control" %>
  <%= form.label :address, "Address:", class: "form-label" %>
  <%= form.text_area :address, class: "form-control" %>
  <%= form.label :county, "County:", class: "form-label" %>
  <%= form.collection_select :county_id, County.order(:name), :id, :name, { prompt: true }, { class: "form-select" } %>
  <%= form.submit %>
<% end %>
</div>
