<!DOCTYPE html>
<html>
  <head>
    <title>Wheresthatpitch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= inline_svg("logo") %>
          WheresThatPitch?
        <%- end %>
        <%= render partial: "admin/menu" if user_signed_in? %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
